<!doctype html>

{% extends "html/home.html" %}
    {% block navbar %}
    <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="/info">Home</a>
    <a class="nav-link" href="/info/features">Features</a>
    <a class="nav-link active" href="/info/contact">Contact</a>
    </nav>
    {% endblock %}


    {% block content %}
    <main role="main" class="inner cover">
        <div class="lead">
            Mes contacts :
        </div>
        <p style="text-align:center;">
            <u>Email :</u>
            tenaudraphael@gmail.com
            <br>
            <u>GitLab:</u>
            @raphaeltenaud
            <br>
            <u>
                <a href ="https://www.linkedin.com/in/rapha%C3%ABl-tenaud-1b0888195/">
                    LinkedIn
                </a>
            </u>


        </p>
    </main>
    {% endblock %}
