<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static "templates/style.css" %}" type="text/css">
    <title>CV Raphaël Tenaud</title>
  </head>
  <body>
    <div class="container">
      <img src="{% static "files/CV.jpg" %}" class="center-block" alt="JPG NOT SHOWING"
        width="700"
        height="906"/>
    </div>
    <div class="container">
      <a href="{% static "files/CV.pdf" %}" download>
        <button class="btn btn-info" name="button">Download CV (pdf)</button>
      </a>
    </div>
  </body>
</html>
