<!doctype html>

{% extends "html/home.html" %}
{% load static %}
    {% block navbar %}
        <a class="nav-link" href="/info">Home</a>
        <a class="nav-link active" href="/info/features">Features</a>
        <a class="nav-link" href="/info/contact">Contact</a>
    {% endblock %}

{% block content %}
    <main role="main" class="inner cover">
        <p>
            <div class="lead">
            Vous pouvez visualiser / télécharger mon cv ou télécharger mes différents travaux ici.
            </div>
        </p>
        <form action="CV" method="get">
            <button class="btn btn-outline-light btn-block " type="submit" name="button" href="/CV">CV</button>
        </form>
        <br>
        <a href="{% static "files/Travaux.zip" %}" download>
            <button class="btn btn-outline-light btn-block"> Travaux </button>
        </a>
    </main>
{% endblock %}

